@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  .raleway-font{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }

  /* main */
.main{
    max-width: 1160px;
    margin: 0 auto;
}
.header{
    max-width: 1160px;
    margin: 0 auto;
}

/* navbar styles */
.hide{
    display: none;
}
.hamburger{
    height: 30px;
    width: 30px;
}
.nav-logo-container{
    gap: 10px;
}
#school{
    font-weight: bold;
    font-size: 2rem;
}
.nav{
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.list-items{
    gap: 32px;
}
.list-styles,.list-style{
    list-style: none;
    text-decoration: none;
}
.list-style{
    font-weight: 500;
    font-size: 20px;
}
.home-bold{
    font-weight: bold;
}
.color-orange{
    color: #FEA301;
}
.color-sky-blue{
    color: skyblue;
}
.color-facilities{
color: #05D4DF;
}
.color-admission{
    color: #5D58EF;
}

/* baner styles */
.banner-container{
    justify-content: space-between;
    gap: 50px;
}
.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
}
.banner-description{
    font-weight:100;
    font-size: 1.25rem;
    font-family: Quicksand;
}

  /* shared styles */
  .display-flex{
    display: flex;
}
.border-radius-18{
    border-radius: 18px;
}
  .btn-primary{
    background-color: #FEA301;
    border: none;
    width: 195px;
    height: 50px;
    border-radius: 8px;
    color: white;
    text-align: center;
    justify-items: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
  }
  .btn-black{
    background-color: black;
  }

  /* Curriculum styles */
.curriculum{
    margin-top: 3.75rem;
    background-image: url(assets/bg.png);
    flex-direction: column;
    gap: 80px;
}
.curriculum-heading{
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
}
.card-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: #202020;
}
.card-subtitle{
    color: #808080;
    font-weight: 500;
    font-size: 15px;
    font-family: Raleway;
    text-align: center;
}
.cards{
    gap: 30px;
}
.card{
    padding-top: 52px;
    padding-bottom: 52px;
    justify-items: center;
}
.card-1{
    background-color: #DEF5FF;
    background: linear-gradient(rgb(222, 245, 255), rgba(222, 245, 255, 0));
    border: 1px solid #def5ff;
}
.card-2{
    background-color: #FFF4DC;
    background: linear-gradient(rgb(255, 244, 220), rgba(255, 244, 220, 0));
    border: 1px solid #fff4dc;
}
.card-3{
    background-color: #F2E8FF;
    background: linear-gradient(rgb(238, 225, 255), rgba(238, 225, 255, 0));
    border: 1px solid #f2e8ff;
}
.read-more{
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}
.circles{
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FEA301;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}   
.sign{
    height: 24px;
    width: 24px;
}

  /* media query */
  @media screen and (max-width:576px) {
    .hero-kids{
        max-width:100%;
        margin: 0 auto;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content{
        justify-items: center;
        text-align: center;
    }
    #school{
        display: none;
    }
    .nav-items-links{
        display: none;
    }
    .nav .btn-primary{
        display: none;
    }
    .hamburger{
        display: block;
    }
    
  }